<div class="custom-form-body magepow-form-custom-bank">
    <form id="custom-checkout-form-bank" class="form" data-bind="attr: {'data-hasrequired': $t('* Required Fields')}, event: {change: onFormChange()}">
        <fieldset class="fieldset">
            <!-- ko foreach: getRegion('custom-checkout-form-fields-bank') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </fieldset>
    </form>
    <!-- <div class="parent-button-continue">
        <button class="action continue trigger-place_order" data-bind="i18n: 'Continue'"></button>
    </div> -->
    
</div>
